<div style = "margin-top: 10%;">
  <div fxFlex = "40" fxFlexOffset = "5">
    <h1>Total Profit = Rs. {{totalProfit}}</h1>
    <canvas  id="ctx1"></canvas>
  </div>
  <div fxFlex = "40" fxFlexOffset = "5">
    <h1>Number of Orders Per Customer</h1>
    <canvas id="ctx2"> </canvas>
  </div>
</div>
<div style = "margin-top: 5%" >
  <div fxFlexOffset = "5" fxFlex = "40">
    <h1>Number of Products Ordered Individually</h1>
    <canvas  id="ctx5"> </canvas>
  </div>
  <app-purchasegraph fxFlexOffset = "5" fxFlex = "40"></app-purchasegraph>
</div>
